
/*
    Adapted from Kate Morley
    http://code.iamkate.com/javascript/spin-box-widget/ CC0 1.0
*/

.spinBox {

    /* theme overridable variables preceeded by ("--input-"); */

    border-color: rgb(132, 132, 132);
    border-radius: 0.2em;
    font-family: sans-serif;
    padding: 0;
    margin: 3px;
    position: relative;
    display: inline-block;
    height: auto;
    overflow: visible;
    width: 10em;
    height: 1.5em;
}

.spinBox input {
    background-color: var(--input-background-color, inherit);
    border-style: solid;
    border-width: 0.1em;
    border-color: var(--input-border-color, inherit);
    border-right: none;
    border-top-left-radius: var(--input-border-radius, inherit);
    border-bottom-left-radius: var(--input-border-radius, inherit);
    box-sizing: border-box;
    color: var(--input-color, inherit);
    font-family: var(--input-font-family, inherit);
    font-size: 0.9em;
    height: 100%;
    margin: 0;
    padding: 0.1em 0.5em 0.1em 0;
    text-align: right;

    /* width of whole - button width */
    width: calc(100% - 1.32em);
}

.spinBox input:focus {
    outline: none;
}

.spinBox input::selection {
/*
    background: #1A7FEB;
    background: #0074E8;
*/
    background: #2084E8;
    color: white;
}

.spinBox input[disabled] {
    background: rgb(240, 240, 240);
    color: rgb(100, 100, 100);
}

.spinBox-buttons {
    display: inline-block;
    border-color: var(--input-border-color, inherit);
    border-radius: var(--input-border-radius, inherit);
}

.spinBox button {
    background-color: rgb(235, 235, 235);
    border-style: solid;
    border-width: 0.1em;
    border-color: var(--input-border-color, inherit);
    box-sizing: border-box;
    display: block;

    /* half of border + half of height */
    height: calc(0.05em + 100% / 2);
    margin: 0;
    padding: 0;
    position: absolute;
    width: 1.32em;
}

.spinBox button:hover {
    background-color: rgb(220, 220, 220);
}

.spinBox button:active {
    background-color: rgb(190, 190, 190);
}

.spinBox-up-button {
    top: 0;
    border-top-right-radius: var(--input-border-radius, inherit);
}

.spinBox-down-button {
    bottom: 0;
    border-bottom-right-radius: var(--input-border-radius, inherit);
}

.spinBox-up-arrow, .spinBox-down-arrow {

    /* "border" makes the arrow using same color as border color */
    border-color: var(--input-arrow-color, inherit);
    border-style: solid;
    border-width: 0 0.125em 0.125em 0;
    box-sizing: border-box;
    display: inline-block;
    left: 50%;

    /* padding sets size of arrow */
    padding: 2px;
    position: absolute;
}

.spinBox-up-arrow {
    top: 64%;
    transform: translate(-50%, -50%) rotate(-135deg);
}

.spinBox-down-arrow {
    top: 40%;
    transform: translate(-50%, -50%) rotate(45deg);
}