
/*
    Adapted from Kate Morley
    http://code.iamkate.com/javascript/spin-box-widget/ CC0 1.0
*/

.spinBox {

    /* theme overridable variables */
    /* theme overridable variables
     * replace "--" with "--input-"
     */

    --arrow-color: rgb(10, 10, 10);
    --background-color: white;
    --border-color: rgb(132, 132, 132);
    --border-radius: 0.2em;
    --color: rgb(32, 32, 32);
    --font-family: sans-serif;

    padding: 0;
    margin: 3px;
    position: relative;
    display: inline-block;
    height: auto;
    overflow: visible;
    width: 10em;
    height: 1.5em;
}

.spinBox input {
    background-color: var(--input-background-color, var(--background-color));
    border-style: solid;
    border-width: 0.075em;
    border-color: var(--input-border-color, var(--border-color));
    border-right: none;
    border-top-left-radius: var(--input-border-radius, var(--border-radius));
    border-bottom-left-radius: var(--input-border-radius, var(--border-radius));
    box-sizing: border-box;
    color: var(--input-color, var(--color));
    font-family: var(--input-font-family, var(--font-family));
    font-size: 0.9em;
    height: 100%;
    margin: 0;
    padding: 0.1em 0.5em 0.1em 0;
    text-align: right;

    /* width of whole - button width + border width?? */
    width: calc(100% - 1.1em);

}

.spinBox input:focus {
    outline: none;
}

.spinBox input::selection {
/*
    background: #1A7FEB;
    background: #0074E8;
*/
    background: #2084E8;
    color: white;
}

.spinBox input[disabled] {
    background: rgb(240, 240, 240);
    color: rgb(100, 100, 100);
}

.spinBox-buttons {
    display: inline-block;
}

.spinBox button {
    background-color: rgb(240, 240, 240);
    border-style: solid;
    border-width: 0.1em;
    border-color: var(--input-border-color, var(--border-color));
    box-sizing: border-box;
    cursor: pointer;
    display: block;

    /* half of border + half of height */
    height: calc(0.05em + 100% / 2);

    /* width of whole - button width */
    left: calc(100% - 1.32em);

    margin: 0;
    padding: 0;
    position: absolute;
    width: 1.32em;
}

.spinBox button:hover {
    background-color: rgb(255, 255, 255);
}

.spinBox button:active {
    background-color: rgb(200, 200, 200);
}

.spinBox-up-button {
    top: 0;
    border-top-right-radius: var(--input-border-radius, var(--border-radius));
}

.spinBox-down-button {
    bottom: 0;
    border-bottom-right-radius: var(--input-border-radius, var(--border-radius));
}

.spinBox-up-arrow, .spinBox-down-arrow {

    /* "border" makes the arrow using same color as border color */
    border-color: var(--input-arrow-color, var(--arrow-color));
    border-style: solid;
    border-width: 0 0.125em 0.125em 0;
    box-sizing: border-box;
    display: inline-block;
    left: 50%;

    /* padding sets size of arrow */
    padding: 2px;
    position: absolute;
}

.spinBox-up-arrow {
    top: 64%;
    transform: translate(-50%, -50%) rotate(-135deg);
}

.spinBox-down-arrow {
    top: 40%;
    transform: translate(-50%, -50%) rotate(45deg);
}
